
.icon-mail:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */